---
layout: default
---
<aside class="other-languages">
  {% assign pages=site.pages | where:"ref", page.ref | where_exp:"translated-page", "translated-page.lang != page.lang" | sort: 'lang' %}
  {% for translated-page in pages %}
  {% assign translated-page-href=translated-page.url | prepend: site.url %}
  {% assign flag-text=translated-page.lang | replace: "en", "uk" | prepend: ":" | append: ":" %}
  {% include link-lang.html href=translated-page-href text=flag-text lang=translated-page.lang %}
  {% endfor %}
</aside>

{%- if page.about -%}
  {%- avatar {{page.about.avatar}} size=75 -%}
  <strong>{{ page.about.name }}</strong><br />
{%- endif -%}

{{ content }}
